body {
	text-align: center;
}
/*去掉a标签下划线*/
a {
	text-decoration: none;
}

.title {
	margin-bottom: 10px;
	margin-top: 20px;
	font-size: 30px;
}

.titlespan {
	font-size: 20px;
}

#liuyan{
	width: 400px;
	height: 150px;
	max-width: 400px;
	max-height: 150px;
}
